@model EventsPlusApp.Models.EventAssignment

@{
    ViewData["Title"] = "Details";
}

<h1 class="lightfont">Details</h1>

<div>
    <h4 class="lightfont">EventAssignment</h4>
    <hr />
    <dl class="row lightfont">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index" class="lightfont">Back to List</a>
</div>
